# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Virtual Environment
backend/env/

# Django
media/
staticfiles/

# Environment variables
.env

# Node
frontend/node_modules/

# React build
frontend/build/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/

# Migrations cache
**/__pycache__/

# Coverage
htmlcov/
.coverage

# Mac/Linux
*.swp