body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #f5f7fb;
}

.layout {
  display: flex;
}

.sidebar {
  width: 230px;
  height: 100vh;
  background: #0f172a;
  color: white;
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 30px;
}

.sidebar button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border: none;
  background: #1e293b;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.sidebar button:hover {
  background: #334155;
}

.content {
  flex: 1;
  padding: 40px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  min-width: 180px;
  text-align: center;
}

input, select {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button.action {
  margin-top: 15px;
  padding: 10px;
  width: 100%;
  border: none;
  background: #2563eb;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

button.action:hover {
  background: #1d4ed8;
}

.status-valid {
  color: green;
  font-weight: bold;
}

.status-invalid {
  color: red;
  font-weight: bold;
}

.status-suspect {
  color: orange;
  font-weight: bold;
}
table {
  border-collapse: collapse;
}

th, td {
  border-bottom: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

th {
  background: #f1f5f9;
}

.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f1f5f9;
}
.sidebar button.active {
  background-color: #2563eb !important;
  color: white !important;
}